<!doctype html>

<html lang="en" ng-app="trackme">
<!-- ASSIGN OUR ANGULAR MODULE -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive email layout.">

    <title>Track.Me - The place to track the things you love!</title>

    <!-- optionally install locally npm install purecss-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/layouts/email-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="css/layouts/email.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="css/trackme.css">


    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script><!-- load angular -->

    <!-- check this ONE TODO -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.min.js"></script>


    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- for the modal dialogs mainly -->
    <!--<script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>-->

    <!-- this should not be the way to include it, must come included from trackme-angular-core.js-->
    <!--<script src="js/modules/welcome-dialog.js"></script>-->

    <!-- my angular js core file -->
    <script src="js/trackme-angular-core.js"></script>


    <script src='js/lodash.min.js'></script>
    <script src='js/angular-simple-logger.min.js'></script>
    <script src='js/angular-google-maps.min.js'></script>


    <style>
        /*html, body { height: 100%; margin: 0; padding: 0; }*/
        /*#map-container                    {  height: 100%; width: 100%  }*/
    </style>

</head>
<!-- SET THE CONTROLLER AND GET ALL DEVICES -->
<body>
<!-- BEGIN: Sticky Header -->
<div id="header_container">
    <div id="my_header">
        Header Content
    </div>
</div>
<!-- END: Sticky Header -->


<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">


        <div class="container min-300" ng-controller="TrackablesController">
            <h2>My Panel</h2>

            <div class="panel-group min-300" id="accordion" ng-controller="DevicesController">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">My Trackables ({{ trackables.length }})</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <!-- trackables list -->

                            <!-- trackables LIST -->
                            <div id="trackables-list" class="row">
                                <div class="col-sm-4 col-sm-offset-4">

                                    <!-- LOOP OVER THE trackables IN $scope.trackables -->
                                    <div class="checkbox" ng-repeat="trackable in trackables">
                                        <label>{{ trackable.name }}</label>
                                    </div>

                                </div>
                            </div>
                            <!-- end trackables list -->

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Add New Trackable</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <!-- Form to create trackables -->
                            <!-- FORM TO CREATE trackables -->
                            <div id="trackable-form" class="row">
                                <div class="col-sm-8 col-sm-offset-2 text-center">
                                    <form>
                                        <div class="form-group" ng-controller="ProfileController">

                                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                                            <div class="form-group">
                                                <label for="trackable_name">Name:</label>
                                                <input id="trackable_name" type="text" class="form-control input-sm" placeholder="name" ng-model="formTrackablesData.name">
                                            </div>

                                            <div class="form-group">
                                                <label for="trackable-description">Description:</label>
                                                <input id="trackable-description" type="text" class="form-control input-sm" placeholder="description" ng-model="formTrackablesData.description">
                                            </div>


                                            <!-- this should be the logged user-->
                                            <div class="form-group">
                                                <label for="trackable-owner">Description:</label>
                                                <input id="trackable-owner" type="text" class="form-control input-sm" placeholder="{{ userinfo.username }}" ng-model="formTrackablesData.owner">
                                            </div>


                                            <div class="form-group">
                                                <label for="trackable-type">Type:</label>
                                                <select id="trackable-type" class="form-control input-sm" ng-model="formTrackablesData.type">
                                                    <option value="person" selected>person</option>
                                                    <option value="object">object</option>
                                                    <option value="animal">animal</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- createDevice() WILL CREATE NEW devices -->
                                        <button type="submit" class="btn btn-primary btn-lg" ng-click="createTrackable()">Add</button>
                                    </form>
                                </div>
                            </div>
                            <!-- end form create devices -->
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">My Devices ({{ devices.length }})</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">

                            <!-- devices list -->

                            <!-- DEVICES LIST -->
                            <div id="devices-list" class="row">
                                <div class="col-sm-4 col-sm-offset-4">

                                    <!-- LOOP OVER THE TODOS IN $scope.todos -->
                                    <div class="checkbox" ng-repeat="dev in devices">
                                        <label>{{ dev.deviceId }}</label>
                                    </div>

                                </div>
                            </div>
                            <!-- end devices list -->


                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Add new device</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">

                            <!-- Form to create devices -->
                            <!-- FORM TO CREATE devices -->
                            <div id="device-form" class="row">
                                <div class="col-sm-8 col-sm-offset-2 text-center">
                                    <form>
                                        <div class="form-group">

                                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                                            <label for="device_id">Device Id:</label>
                                            <input id="device_id" type="text" class="form-control input-lg text-center" placeholder="Device id" ng-model="formData.deviceId">
                                            <label for="device-description">Device description:</label>
                                            <input id="device-description" type="text" class="form-control input-lg text-center" placeholder="Device description" ng-model="formData.deviceDescription">

                                            <input type="text" class="form-control input-lg text-center" placeholder="Device owner" ng-model="formData.deviceOwner">
                                            <!--<input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.deviceId">-->
                                        </div>

                                        <!-- createDevice() WILL CREATE NEW devices -->
                                        <button type="submit" class="btn btn-primary btn-lg" ng-click="createDevice()">Add</button>
                                    </form>
                                </div>
                            </div>
                            <!-- end form create devices -->
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">My Account</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div ng-controller="GreetingController">
                                {{ greeting2 }}
                            </div>

                            <div ng-controller="ProfileController">
                                {{ userinfo.username }}
                            </div>

                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Settings</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">

                            <!-- modal code here-->
                            <div ng-controller="RecordsController">
                                <div class="checkbox" ng-repeat="rec in records">
                                    <label>{{ rec.latitude }}</label>
                                    <label>{{ rec.longitude }}</label>
                                </div>
                            </div>
                            <!-- end modal -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="main" class="pure-u-1" ng-controller="MapController">



        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>

        <!-- put the map here-->
        <!--google maps goes here -->
        <!--<div id="map-container"></div>
        <script type="text/javascript">

            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map-container'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 8
                });
            }
        </script>
        <script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyBQVDtQOCDfWg4ikGXBvOTB9y03RgLb0M8&callback=initMap"></script>
            -->
    </div>
</div>


<!-- BEGIN: Sticky Footer -->
<div id="footer_container">
    <div id="my_footer">
        Footer Content
    </div>
</div>
<!-- END: Sticky Footer -->
</body>
</html>
